<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Log Out"/>
        </form>
    </div>
{{#currentBalance}}
    <div>
        <p>Money in your account: {{balance}}</p>
    </div>
{{/currentBalance}}


    <div>
        <form method="post">
            <input type="numeric" name="balance" placeholder="push your test balance"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>

{{#balances}}
    <div>
        <b>{{id}}</b>
        <span>{{balance}}</span>
        <strong>{{ownerName}}</strong>
    </div>
{{/balances}}

</body>
</html>